<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VCA GAMES</title>
    <link rel="stylesheet" href="/css/valorant.css">

    <script>
        setTimeout(function() {
        var loader = document.getElementsByClassName("loader-wrapper")[0];
        loader.style.transition = '.5s';
        loader.style.opacity = '0';
        loader.style.visibility = 'hidden';
        }, 1250);
    </script>

</head>
<body bgcolor="#000000">
    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
    <div
class="randy randy2">
<!-- <div><a href="home"><button class="btb btn">    Explore     </button></a></div> -->
    <ul>
        <li> <a href="main"style="text-decoration:none;">Main</a></li>
        <li> <a href="news"style="text-decoration:none;">News</a></li>
        <li> <a href="watch"style="text-decoration:none;">Watch</a></li>
        <li> <a href="games"style="text-decoration:none;">Games</a></li>
      </ul>
     <h4><a href="/"style="text-decoration:none;">Home</a></h4>
</div>

<div class="orton orton2">
    <ul>
        <a href="lol"><li> League of Legends</li></a>
        <a href="valorant"><li > Valorant</li></a>
        <a href="csgo"><li> CS:GO</li></a>
        <a href="fifa"><li>FIFA</li></a>
        <a href="dota"><li class="b-margin active">DOTA 2</li></a>
      </ul>
  </div>
  <div class="grid">
    <div class="images">
        <img src="/images/dota main.jpeg" alt="">
    
        <p>Dota 2 is a multiplayer online battle arena (MOBA) video game developed and published by Valve.</p>
    </div>
    
    <div class="league_list">
        <div>
            <img src="/images/dota 1.jpg" alt="">
            <p>The game is a sequel to Defense of the Ancients (DotA), which was a community-created mod for Blizzard Entertainment's Warcraft III: Reign of Chaos. </p>
        </div>

        <div>
            <img src="/images/dota 2.jpeg" alt="">
            <p>Dota 2 is played in matches between two teams of five players, with each team occupying and defending their own separate base on the map. </p>
        </div>
        <div>
            <img src="/images/dota 3.png" alt="">
            <p>A team wins by being the first to destroy the other team's "Ancient", a large structure located within their base. </p>
        </div>
    </div>
</div>

</body>
</html>