<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VCA GAMES</title>
    <link rel="stylesheet" href="/css/games.css">

    <script src="/scripts/games.js">
    </script>

</head>
<body bgcolor="#2B3351">
    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>

    <div
class="randy randy2">
<!-- <div><a href="home"><button class="btb btn">    Explore     </button></a></div> -->
    <ul>
        <li> <a href="main"style="text-decoration:none;">Main</a></li>
        <li> <a href="news"style="text-decoration:none;">News</a></li>
        <li> <a href="watch"style="text-decoration:none;">Watch</a></li>
        <li> Games</li>
      </ul>
     <h4><a href="/"style="text-decoration:none;">Home</a></h4>
</div>
    <div class="div_game_list">
    <ul class="game_list">
        <li ><img onclick="window.location.replace('lol')" src="/images/lol icon.jpg" class="game_img"> <p><a href="lol"style="text-decoration:none;color:white;">League of Legends</a></p> </li>
        <li ><img onclick="window.location.replace('valorant')" src= "/images/val icon.png" alt="" class="game_img">  <p><a href="valorant"style="text-decoration:none;color:white;">Valorant</a></p> </li>
        <li ><img onclick="window.location.replace('csgo')" src="/images/cs icon.jpg" alt="" class="game_img"> <p><a href="csgo"style="text-decoration:none;color:white;">CS:GO</a></p>  </li>
        <li ><img onclick="window.location.replace('fifa')" src="/images/fifa icon.jpg" alt="" class="game_img"><p><a href="fifa"style="text-decoration:none;color:white;">FIFA</p></li>
        <li ><img onclick="window.location.replace('dota')" src="/images/dota icon.jpg" class="game_img">
            <p><a href="dota"style="text-decoration:none;color:white;"></a>DOTA2</p>
        </li>
    </ul>

    </div>
</body>
</html>