<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VCA GAMES</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/homevam.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.0/anime.min.js"> </script>


    <script src="/scripts/homevam.js"></script>



</head>
<body onload="loaded();">
    
    <div class="navdiv">
        <div >
            <img onclick="social('Discord')" class="socialIcon" src="https://img.icons8.com/color/48/000000/discord-logo.png"/>
            <img onclick="social('Twitter')" class="socialIcon" src="https://img.icons8.com/color/48/000000/twitter--v1.png"/>
            <img onclick="social('Instagram')" class="socialIcon" src="https://img.icons8.com/color/48/000000/instagram-new--v1.png"/>
        </div>
            <div class="inner-nav">VCA GAMES</div>
        
            <div >
                <a href = "/subscribe"><button  class="btb"> Subscribe</button></a>
            </div>
    </div>
    <div>
        <img id="theme-img" class="main-img" src="/images/s24.png" alt="">
        <div class="absolute">
        <h2 id="welcome-text" class="welcome">Welcome to Freljord</h2>
        <div><a href="/main"><button onclick="main" class="btb btn">Explore</button></a></div>
      </div>
    </div>

    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>

</body>
</html>





