<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VCA GAMES</title>
    <link rel="stylesheet" href="/css/homevam.css">

    <script src="/scripts/newspage.js">

        

    </script>

</head>
<body bgcolor="#000000">
 
  <div class="nav">
    <div class="menu"><a href="/main"style="text-decoration:none;color:white;">Main</div> <div class="dummy"></div>
    <div class="current">News</a></div> <div class="dummy"></div>
    <div class="menu"><a href="/watch"style="text-decoration:none;color:white;">Watch</a></div> <div class="dummy"></div>
    <div class="menu"><a href="/games"style="text-decoration:none;color:white;">Games</a></div>
    <div class="dummy"></div><div class="dummy"></div><div class="dummy"></div><div class="dummy"></div><div class="dummy"></div><div class="dummy"></div><div class="dummy"></div><div class="dummy"></div><div class="dummy"></div><div class="dummy"></div><div class="dummy"></div><div class="dummy"></div><div class="dummy"></div><div class="dummy"></div><div class="dummy"></div><div class="dummy"></div><div class="dummy"></div>
    <div class="menu"><a href="/" style="text-decoration: none; color: white;">Home</a></div>

</div> 

</div>
      <div class="orton">
        <ul>
            <li> Today</li>
            <li> Week</li>
            <li class="b-margin active" > Month</li>
            <li class="serch"> <img src="https://img.icons8.com/material-two-tone/24/000000/search.png"/> Search</li>
            
          </ul>
      </div>
<div class="container">

  <div class="box">
    <div class="img-game">
      <img src="/images/patch notes 11.24.jpg" alt="">
    </div>
    <div class="game-txt">
      <a href="https://playvalorant.com/en-us/news/game-updates/valorant-patch-notes-4-07/"><button>Patch Note 12.3</button></a>
    </div>
  </div>

  <div class="box">
    <div class="img-game">
      <img src="/images/elden ring.jpg" alt="">
    </div>
    <div class="game-txt color">
      <a href="https://store.steampowered.com/"><button>Now Available on stream</button></a>
    </div>
  </div>

  <div class="box">
    <div class="img-game">
      <img src="/images/Valorant week1.png" alt="">
    </div>
    <div class="game-txt">
      <a href="https://playvalorant.com/en-us/"><button>Valorant Update</button></a>
    </div>
  </div>

  <div class="box">
    <div class="img-game">
      <img src="/images/bgmi week.png" alt="">
    </div>
    <div class="game-txt color">
      <a href="https://www.battlegroundsmobileindia.com/news_view/785?n=140&t=140&c="><button>BGMI Update 2.O</button></a>
    </div>
  </div>

  <div class="box">
    <div class="img-game">
      <img src="/images/gta5 month.jpeg" alt="">
    </div>
    <div class="game-txt ">
      <a href="https://www.rockstargames.com/gta-v"><button>GTA 5 Online</button></a>
    </div>
  </div>

  <div class="box">
    <div class="img-game">
      <img src="/images/pubg month.jpeg" alt="">
    </div>
    <div class="game-txt color">
      <a href="https://na.battlegrounds.pubg.com/patch-notes/"><button>PUBG Patch Notes 17.2</button></a>
    </div>
  </div>




</div>



    
    
</body>
</html>