<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VCA GAMES</title>
    <link href="/css/watch.css" type="text/css"
 rel="stylesheet" />

    <script src="/scripts/watch.js"> </script>


</head>
<body>
    <div class="loader-wrapper">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
    <div class="nav">
        <div class="menu"><a href="/main"style="text-decoration:none;color:white;">Main</a></div> <div class="dummy"></div>
        <div class="menu"><a href="/news"style="text-decoration:none;color:white;">News</a></div> <div class="dummy"></div>
        <div class="current">Watch</div><div class="dummy"></div>
        <div class="menu"><a href="/games"style="text-decoration:none;color:white;">Games</a></div>
        <div class="dummy"></div><div class="dummy"></div><div class="dummy"></div><div class="dummy"></div><div class="dummy"></div><div class="dummy"></div><div class="dummy"></div><div class="dummy"></div><div class="dummy"></div><div class="dummy"></div><div class="dummy"></div><div class="dummy"></div><div class="dummy"></div><div class="dummy"></div><div class="dummy"></div><div class="dummy"></div><div class="dummy"></div>
        <div class="menu"><a href="/" style="text-decoration: none; color: white;">Home</a></div>

    </div> 
    <div>
        <div class="header">Services:</div>
        <div class = "serv">
            <div class="servimg2"><img onclick="redirect('twitch')" src = "/images/twitch.jpg" width="486px" height="200px"></div>
            <div class="servtext" onclick="redirect('twitch')">Watch on Twitch</div>
        </div>
        <div class = "serv">
            <div class="servimg2"><img onclick="redirect('youtube')" src = "/images/youtube.png" width="486px" height="200px"></div>
            <div class="servtext" onclick="redirect('youtube')">Watch on Youtube</div>
        </div>
        <div class = "serv">
            <div class="servimg2"><img onclick="redirect('riotgames')" src = "/images/riot.png" width="486px" height="200px"></div>
            <div class="servtext" onclick="redirect('riotgames')">Watch on Riot Games</div>
        </div>
    </div>
    <div class="dummy2"></div><div class="dummy2"></div><div class="dummy2"></div><div class="dummy2"></div><div class="dummy2"></div><div class="dummy2"></div>
    <div>
        <div class="header">Live:</div>
        <div class = "serv">
            <div class="servimg"><video onclick="redirect('lolesports')" style="width:486px"onmouseover="this.play()" onmouseout="this.pause();this.currentTime=0;">
                <source src="/images/dk-edg.mp4" type="video/ogg"></source>
                </video>
            </div>
            <div class="servtext" onclick="redirect('lolesports')">Watch DWG vs EDG Finals 2022</div>
            
        </div>
        <div class = "serv">
            <div class="servimg"><video onclick="redirect('valorantesports')" poster="images/vctstage3.jpg" style="width:486px"onmouseover="this.play();" onmouseout="this.pause();this.currentTime=0;">
                <source src="/images/vct2.mp4" type="video/ogg"></source>
                </video>
            </div>
            <div class="servtext" onclick="redirect('valorantesports')">Valorant Challengers Streaming Now!</div>
        </div>
        <div class = "serv">
            <div class="servimg"><video onclick="redirect('genshin.hoyoverse')" style="width:486px"onmouseover="this.play();" onmouseout="this.pause();this.currentTime=0;">
                <source src="/images/genshin.mp4" type="video/ogg"></source>
                </video>
            </div>
            <div class="servtext" onclick="redirect('genshin.hoyoverse')">Genshin Impact: New Story Out Now!</div>
        </div>
    </div>
   
</body>
</html>


