@font-face {
    font-family: "Monsterrat";
    src: url(/fonts/Montserrat-Regular.ttf);
}


body{
    background-color: black;
}
.nav{
    background-color: white;
    position :relative ;
    left:-8px;
    top:-8px;
    height: 45px;
    width: 1536px;
}
.menu{
    float:left;
    width: 100px;
    height: 45px;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
    color: black;
    font-family: Monsterrat;
    font-weight: bolder;
}

.current{
    float:left;
    width: 100px;
    height: 45px;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
    color: black;
    font-weight: bolder;
    font-family: Monsterrat;
    text-decoration: underline;
    text-underline-offset: 9px;
    text-decoration-color: #eeb113;
    text-decoration-thickness: 5px;
}

.menu:hover{
    color: purple;
    text-decoration: underline;
    text-decoration-color: red;
    text-underline-offset: 9px;
    text-decoration-thickness: 5px;
}

.dummy{
    float:left;
    width: 50px;
    height: 45px;
    text-align: center;
    vertical-align: middle;
    line-height: 45px;
    color: white;
}

.event{
    color:white;
    background-color: #eeb113;
    font-weight: bolder;
    width: 900px;
    height: 45px;
    text-align: center;
    vertical-align: middle;
    font-family: Monsterrat;
    line-height: 45px;
    font-weight: bold;
    
}

.shortevent{
    background-color: white;
    width: 580px;
    float: right;
    margin-right: 10px;
    height:60px;
    vertical-align: middle;
    text-align: center;
    line-height: 60px ;
    margin: 20px;
}
.leftdiv{
    float:left;
}
.d2{
    background-color: bl;
}
.seimg{
    display:block;
    float:left;
}
.setext{
    vertical-align: middle;
    text-align: center;
    width:490px;
    float:right;
    height:60px;
    color:black;
    font-weight: bolder;
    background-color: white;
    font-family: Monsterrat;

}
.upevent{
    background-color: white;
    width: 580px;
    float: right;
    margin-right: 10px;
    height:230px;
    vertical-align: middle;
    text-align: center;
    line-height: 60px ;
    margin: 20px;
    margin-bottom: 0px;
}

.notcureventno{
    background-color: white;
    color:black;
    width:50px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
    overflow: hidden;
    margin-top: 20px;
    font-family: Monsterrat;
    font-size: x-large;
    float:left;
    margin-right: 10px;
    font-weight: bold;
    margin-top: 15px;
}
.cureventno{
    background-color: #eeb113;
    color:white;
    width:50px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
    overflow: hidden;
    margin-top: 20px;
    font-family: Monsterrat;
    font-size: x-large;
    float:left;
    margin-right: 10px;
    font-family: bold;
    margin-top: 15px;
}
.referal{
    background-color: white;
    color:black;
    width:720px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
    overflow: hidden;
    margin-top: 20px;
    font-family: Monsterrat;
    font-size: larger;
    float:left;
    margin-right: 10px;
    font-weight: bold;
    margin-top: 14.1px;
}


.nocontainer{
    margin-top: 30px ;
    
}
.uptext{

    background-color: #eeb113;
    color: white;
    width: 580px;
    height: 50px;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
    overflow: hidden;
    margin-top: 20px;
    font-family: Monsterrat;
    font-size: larger;
    float:left;
    margin-right: 10px;
    font-weight: bold;
    margin-top: 14.1px;
}